* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding-left: 10px;
    font-family: system-ui, sans-serif;
    background-image: url(../media/cocktails.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: white;
  }
  
  main {
    padding: 1rem;
  }

  img {
    max-height: 350px;
    max-width: 350px;
  }

  /* h1 {
    font-weight: bold;
    font-size: 1.5rem;
  } */
  
  h1, h2, h3, p {
    text-align: center;
    background-color: rgba(85,85,85,0.2);
    max-width: 98vw;
  }

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: white;
  }

  a:active {
    color: white;
  }